
<article>
  <h2>Dynamic Table</h2>
  <mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

  <ng-container *ngFor="let column of displayedColumns">
    <ng-container [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
      <ng-container *ngIf="column != 'name' && column != 'dob' && column != 'registered' && column != 'location'">
        <td mat-cell *matCellDef="let element"> 
          {{element[column]}}
        </td>
      </ng-container>

      <ng-container *ngIf="column == 'dob' || column == 'registered'">
        <td mat-cell *matCellDef="let element"> 
           {{element[column]['date']}}
        </td>
      </ng-container>

      <ng-container *ngIf="column == 'location'">
        <td mat-cell *matCellDef="let element"> 
           {{element[column]['city']}}
        </td>
      </ng-container>

      <ng-container *ngIf="column == 'name'">
        <td mat-cell *matCellDef="let element"> 
           <img [src]="element['picture']['thumbnail']" /> {{element[column]['title']+'. '+element[column]['first']+' '+element[column]['last']}}
        </td>
      </ng-container>
    </ng-container>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20, 40]">
  </mat-paginator>

</article>

<router-outlet></router-outlet>